<div class="modal-backdrop">
  <div class="modal-content fullscreen">
    <h2 class="modal-title"><i class="fas fa-edit"></i> Add Client Document</h2>
    <button class="close-btn" type="button" (click)="onClose()">&times;</button>
    <div class="modal-scroll-content">
      <form
        [formGroup]="documentForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <!-- Document Type Dropdown -->
        <div class="form-row">
          <div class="form-field">
            <label>Document Type <span class="required">*</span></label>
            <ng-select
              [items]="documentTypes"
              bindLabel="Description"
              bindValue="DocumentId"
              formControlName="DocumentId"
              [searchable]="true"
              [clearable]="true"
              [closeOnSelect]="true"
              placeholder="Select Document Type"
            ></ng-select>
            <div
              class="error-msg"
              *ngIf="
                formControl['DocumentId'].touched &&
                formControl['DocumentId'].invalid
              "
            >
              <small *ngIf="formControl['DocumentId'].errors?.['required']"
                >Document Type is required.</small
              >
            </div>
          </div>
          <div class="form-field">
            <label for="ListRank">List Rank</label>
            <input
              id="ListRank"
              type="number"
              formControlName="ListRank"
              class="form-control"
              placeholder="Enter list rank"
            />
          </div>
        </div>

        <!-- Note -->
        <div class="form-row">
          <div class="form-field">
            <label>Note <span class="required">*</span></label>
            <p-editor
              formControlName="Note"
              [style]="{ height: '200px' }"
              [modules]="editorModules"
            >
            </p-editor>
          </div>
        </div>
        <!-- Upload Section -->
        <div class="form-row">
          <div class="form-field file-upload-section">
            <label class="file-label">Upload a File:</label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              class="file-input"
            />
            <div class="error-msg" *ngIf="!selectedFile && fileTouched">
              <small>File is required.</small>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="form-actions">
          <button class="btn cancel-btn" type="button" (click)="onCancel()">
            Cancel
          </button>
          <button class="btn submit-btn" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
