<div class="header dropdown-container">
  <form [formGroup]="form" class="dropdown-container">
    <ng-select
      [items]="claimcontroller"
      bindLabel="name"
      bindValue="id"
      formControlName="selectedClamController"
      [searchable]="true"
      [clearable]="true"
      [closeOnSelect]="true"
      placeholder="Link New Claim Controller"
      class="dropdown-container"
    >
    </ng-select>

    <button
      type="button"
      class="btn btn-secondary d-flex align-items-center gap-1"
      (click)="addControllerToGrid()"
    >
      <span
        class="bg-white text-secondary rounded-circle d-flex justify-content-center align-items-center"
        style="width: 24px; height: 24px"
      >
        <i class="fas fa-plus"></i>
      </span>
      <span>Add</span>
    </button>
  </form>
</div>

<div class="ag-theme-alpine" style="height: 500px; width: 100%">
  <ag-grid-angular
    class="ag-grid-responsive"
    [rowData]="users"
    [pagination]="true"
    [paginationPageSize]="20"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    rowSelection="single"
    [animateRows]="true"
    [domLayout]="'autoHeight'"
    [components]="{
      activeToggleRenderer: ActiveToggleRendererComponent,
      unlinkCellRenderer: UnlinkCellRendererComponent
    }"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
