<mat-expansion-panel class="mat-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title> Selected Service</mat-panel-title>
  </mat-expansion-panel-header>

  <div class="key-features">
    <h4><a href="#">Key Features</a></h4>
    <ul>
      <li>24 Hour assistance on any Legal Matter</li>
      <li>
        <span class="highlight">30 min FREE face-to-face consultation</span>
        with an attorney
      </li>
      <li>Free <span class="highlight">Standard Legal Documentation</span></li>
      <li>Free Will Service</li>
      <li>
        Free <span class="highlight">Estate Planning</span> (Office Hours Only)
      </li>
      <li>
        <span class="highlight">Labour Law & Industrial relations</span>
        services
      </li>
      <li>
        <span class="highlight">Tax</span> Info Helpline (Office Hours Only)
      </li>
    </ul>

    <h4><a href="#">Conditions</a></h4>
    <ul>
      <li>This service is confined to within RSA</li>
      <li>This service relates to South African Law only</li>
    </ul>

    <h4><a href="#">Who Qualifies for this Benefit?</a></h4>
    <p>Any person listed as a life covered under a valid policy.</p>
  </div>
</mat-expansion-panel>
