<div class="ag-theme-alpine" style="height: 500px; width: 100%">
  <ag-grid-angular
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [components]="components"
    class="ag-grid-responsive"
    rowSelection="single"
    [pagination]="true"
    [paginationPageSize]="20"
    [domLayout]="'autoHeight'"
  
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>

<!-- Add/Edit Popup -->
<app-rating-questions-options-popup
  *ngIf="showPopup"
  [initialData]="selectedOption"
  [isEditMode]="isEditMode"
  (close)="showPopup = false"
  (submit)="handlePopupSubmit($event)"
></app-rating-questions-options-popup>
