.ag-grid-wrapper {
  width: 100%;
}

.ag-grid-custom {
  min-width: 1200px; /* adjust based on column count */
}

::ng-deep .ag-column-select-panel {
  max-height: 300px !important;
  overflow-y: auto !important;
}
