<div class="modal-backdrop">
  <div class="modal-content">
    <button class="close-btn" (click)="closeForm()">✖</button>
    <div class="overlay" *ngIf="showConfirmModal">
      <div class="modal">
        <p>Are you sure you want to close this form?</p>
        <div class="btns">
          <button class="yes-btn" (click)="confirmYes()">Yes</button>
          <button class="no-btn" (click)="showConfirmModal = false">No</button>
        </div>
      </div>
    </div>
    <!-- <h2 class="modal-title"><i class="fas fa-edit"></i> Create New Client</h2> -->

    <h2 class="modal-title">
      <i class="fas" [ngClass]="isEditMode ? 'fas fa-edit' : 'fas fa-edit'"></i>
      {{ isEditMode ? "Edit Client" : "Create New Client" }}
    </h2>
    <!-- Success Popup -->
    <div class="success-popup" *ngIf="showSuccess">
      <span>Client saved successfully</span>
      <button class="close-success" (click)="showSuccess = false">✖</button>
    </div>

    <div class="caller-container">
      <div class="tabs-wrapper">
        <div class="tab-print-button">
          <ul class="tab-header">
            <li [class.active]="selectedTab === 0" (click)="selectTab(0)">
              Details
            </li>
            <li [class.active]="selectedTab === 1" (click)="selectTab(1)">
              Services
            </li>
            <li [class.active]="selectedTab === 2" (click)="selectTab(2)">
              Rating Questions
            </li>
            <li [class.active]="selectedTab === 3" (click)="selectTab(3)">
              Documents
            </li>
            <li [class.active]="selectedTab === 4" (click)="selectTab(4)">
              Claim Centre
            </li>
            <li [class.active]="selectedTab === 5" (click)="selectTab(5)">
              Service Provider
            </li>
            <li [class.active]="selectedTab === 6" (click)="selectTab(6)">
              Claim Controller
            </li>
          </ul>

          <!-- <button class="print-btn" (click)="printPage()"> -->
          <div class="tooltip-container1">
            <i class="fa fa-print"></i>
            <span class="custom-tooltip1"> Print</span>
          </div>
          <!-- </button> -->
        </div>
        <div class="green-strip"></div>

        <div class="tab-body">
          <app-client-details *ngIf="selectedTab === 0"></app-client-details>
          <app-client-services *ngIf="selectedTab === 1"></app-client-services>
          <app-rating-questions
            *ngIf="selectedTab === 2"
          ></app-rating-questions>
          <app-documents *ngIf="selectedTab === 3"></app-documents>
          <app-claim-centre *ngIf="selectedTab === 4"></app-claim-centre>
          <app-service-provider
            *ngIf="selectedTab === 5"
          ></app-service-provider>
          <app-claim-controller
            *ngIf="selectedTab === 6"
          ></app-claim-controller>
        </div>
      </div>
    </div>
    <div class="active">
      <div class="checkbox-row1">
        <div class="form-group is-active-group">
          <label class="toggle-label">IsActive?</label>
          <label class="toggle-switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="button-group">
        <button class="btn cancel" (click)="closeForm()">Cancel</button>

        <button class="btn save" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
